pandas
numpy
langchain
langchain_experimental
openai==0.28
gradio
pyodbc
python-dotenv
streamlit
seaborn
certifi
urllib3
tqdm
requests
typing-extensions
pyspark
spark-core
spark-sql
